---
- hosts: all
  connection: local
  gather_facts: no

  vars_prompt:
    - name: 'var_aci'
      prompt: 'What is the name of the var file (without extension)? '
      private: no

    - name: 'description_snapshot'
      prompt: 'What is the Change number ? '
      private: no

  vars:
    - username_aci: 'ansible'


  pre_tasks:
    - pause:
        prompt: "\e[31mWARNING\e[0m : You will deploy on the \e[31mPRE-PRODUCTION\e[0m ! [Press 'Enter' to continue the play or 'CTRL + C and Enter' to abort]"

    - pause:
        prompt: "\e[31mWARNING\e[0m : Is that your last word ? [Press 'Enter' to continue the play or 'CTRL + C and Enter' to abort]"

